.container {
  height: 100%;
  max-height: -webkit-fill-available;
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, minmax(3rem, 4rem)) 1fr;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}

.control {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.control > * {
  color: white;
  font-size: 2rem;
  font-weight: normal;
}

.control a {
  text-align: center;
  opacity: 1;
}

.control button {
  background: none;
  border: none;
}

.control button:focus {
  outline: 0;
}
