.container {
  height: 100%;
  max-height: -webkit-fill-available;
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40px, 0);
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}

.control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.control > * {
  padding: 1rem;
  height: 100%;
}

.control a {
  text-align: center;
}
